
header .header-inner li:nth-child(4) a{background-image: url(../images/a_35.png);background-repeat: no-repeat;background-position: bottom center;}


.banner{width: 100%;border-top: 1px solid white;border-bottom: 1px solid white; }
.banner img{width: 100%;}
.kong{width: 100%;height: 7px;background-image: url(../images/v_49.png);background-position: bottom center;background-repeat: repeat-x;}

.main{width: 100%;padding-top: 50px;}
.main .main-inner{width: 70.7931%;/*955/1349*//*background-color: pink;*/margin: 0 auto;background-image: url(../images/main_bg_13.png);
	                    background-position: top left;background-repeat: no-repeat;padding-left: 2%}	 
.main .main-inner .btn{width: 92.4623%;/*920/995*/text-align: center;border-bottom: 1px dashed #555557;padding-top: 31px;margin-left:0.5175%;/*35/995*/margin-bottom: 60px;}
.main .main-inner .btn a{float: left;text-decoration: none;font-size: 1.4em;color:#fefefe;width: 12.1739%;/*112/920*/line-height: 45px;background-image: url(../images/111_67.png);margin-left: 1%;margin-bottom: 20px;background-repeat: no-repeat;}
.main .main-inner .btn img{float: left;margin-left:4.9782% ;/*55/920*/}
.main .main-inner section {width: 98.4293%;/*940/955*//*border:1px solid red;*/margin-bottom: 66px;background-image: url(../images/pro_anli_bg_09.jpg);background-position: center right;background-repeat: no-repeat;}
.main .main-inner section .pic{float: left;width: 74.4042%;/*690/940*/}
.main .main-inner section .pic img{float: left;max-width:100%;}
.main .main-inner section .pic img:nth-child(2){margin-left: 0.2%;}
.main .main-inner section .pic img:nth-child(3){margin-left: 0.2%;margin-top: 2px;}
.main .main-inner section .pic img:nth-child(4){margin-left: 0.3%;margin-top: 2px;}
.main .main-inner section article{float: left;width: 23.468%;/*173/940*//*border:1px solid red;*/margin-top: 88px;margin-left: 1.0638%;/*10/940*/}
.main .main-inner section article h2{font-size: 1.8em;margin-bottom: 10px;background-image: url(../images/pro_sanjiao_09.jpg);background-repeat: no-repeat;padding-left: 12%;}
.main .main-inner section article h3{font-size: 1.2em;color:#777777;margin-bottom: 26px;padding-left: 12%;}
.main .main-inner section article ul{width: 86.7647%;/*118/136*/}
.main .main-inner section article ul li{float: left;width: 26.3728%;/*50/118*/margin-left:12.6% ;/*18/118*/}
.main .main-inner section article ul li a{display: block;text-decoration: none;font-family: "宋体";color:white;font-size: 1.2em;background-image: url(../images/pro_a_bg_13.jpg);/*border-radius: 50%;background-color: #e5032b;*/line-height: 50px;text-align: center;}

.main>h2{border:4px solid #e00024;margin-bottom: 7px;}



@media screen and (max-width:480px){
	.main .main-inner .btn a{width: 45.1739%;}
}