.clearfix:before,.clearfix:after{content:" ";display: table;}
.clearfix:after{clear: both;}
.clearfix{zoom:1;}
body{font-family: arial;}
@font-face{font-family:myFont;
		src:url("../fonts/berthold_akzidenz_grotesk_be_bold_condensed-webfont.ttf"),
		url("../fonts/berthold_akzidenz_grotesk_be_bold_condensed-webfont.eot"),
		url("../fonts/berthold_akzidenz_grotesk_be_bold_condensed-webfont.woff"),
		url("../fonts/berthold_akzidenz_grotesk_be_bold_condensed-webfont.svg");

	}
@keyframes color{
	0% {text-shadow:1px 1px 0px white;}
	75% {text-shadow:1px 1px 30px #333;}
	%100{text-shadow:1px 1px 100px #333;}
}
@keyframes mysecond{
0% {transform:rotate(3deg);}
25% {transform:rotate(5deg);}
50% {transform:rotate(7deg);}
75% {transform:rotate(-5deg);}
100% {transform:rotate(0deg);}

}
@keyframes myseconde{
0% {transform:rotate(-3deg);}
25% {transform:rotate(-5deg);}
50% {transform:rotate(-7deg);}
75% {transform:rotate(5deg);}
100% {transform:rotate(0deg);}

}
header{border-bottom:3px double #d6d5d5;}
.top{background-image: url(../images/shangtiao_02.png);width: 100%;height: 43px;}
.bottom{background-image: url(../images/xia_09.png);width: 100%;height: 42px;}
header h1{font-family:myFont;font-size:50px;color:#000;text-shadow:1px 2px 0px #dfdada;margin-top: 37px;margin-bottom: 39px;}
header h1 span{color:#dfdada;}
header nav{width: 100%;display: table;
						background-image: -moz-linear-gradient(top,#fff,#e4e4e4);
						background-image: -webkit-linear-gradient(top,#fff,#e4e4e4);
						background-image:linear-gradient(top,#fff,#e4e4e4);
						background-image: -o-linear-gradient(top,#fff,#e4e4e4);
						background-image: -ms-linear-gradient(top,#fff,#e4e4e4);
						background-repeat: no-repeat;margin-bottom: 25px;}
header nav ul{display: table-row;text-align: center;}
header nav ul li{display: table-cell;line-height: 242%;vertical-align: middle;/*border:1px solid red;*/}
header nav ul li a{font-family:myFont;text-decoration: none;font-weight: bold;font-size: 20px;color:black;}
header nav ul li a:hover{animation:color 2s infinite;}
header nav ul li:last-child{text-align: right;}
header nav ul li:first-child{text-align: left;}
header nav ul li:nth-child(2n+1)>a{color:red;}
.container{width: 96%;margin:0 auto;}

.main{width: 70.7291%;/*700/960*/float: right;margin-top: 30px;margin-bottom:20px;}
.main div{width: 28.8571%;float: left;margin:0% 4%;}
.main div img{max-width: 100%;}
.main article{width: 60%;float: left;}
.main article h2{text-shadow:1px 2px 0px #dfdada;font-size: 100px;font-family:myFont;}
.main article h3{font-size:35px;color:#757474;margin:15px 0px;text-shadow:1px 2px 0px #dad7d7;}
.main article p{font-size: 28px;color:#a4a2a2;margin-bottom:10%;}
.main article p span{color:#757474;font-family:myFont;}
.main article p a{color:#a4a2a2;}
.main article>a{font-family:myFont;display: block;width: 56.8571%;border-radius:10px;
	box-shadow: 2px 3px 5px #999;
	padding:0% 4%;
	background-image: -moz-linear-gradient(top,#f25d61,#ad181c);
	background-image: -webkit-linear-gradient(top,#f25d61,#ad181c);
	background-image:linear-gradient(top,#f25d61,#ad181c);
	background-image: -o-linear-gradient(top,#f25d61,#ad181c);
	background-image: -ms-linear-gradient(top,#f25d61,#ad181c);
line-height: 288%;font-size:30px;color:#fff;text-decoration: none;font-weight: bold;
text-shadow:0px 1px 0px #000;margin-top: 5%;}
.main article>a:hover{text-shadow:0px 1px 0px #fff;color:#000;
						transition: text-shadow 5s,color 3s;
						-moz-transition: text-shadow 5s,color 3s;	/* Firefox 4 */
						-webkit-transition: text-shadow 5s,color 3s;	/* Safari 和 Chrome */
						-o-transition: text-shadow 5s,color 3s;	/* Opera */
						}
.main article>a:hover>span{text-shadow:0px 1px 0px #fff;color:#000;
							transition: text-shadow 10s,color 8s;
						-moz-transition: text-shadow 10s,color 8s;	/* Firefox 4 */
						-webkit-transition: text-shadow 10s,color 8s;	/* Safari 和 Chrome */
						-o-transition: text-shadow 10s,color 8s;	/* Opera */}
footer p{font-size: 12px;color:#757474;text-align: center;line-height: 80px;}
/*aside{float: left;}*/
aside{float: left;width: 24.8958%;/*239/960*/
		background-image: -moz-linear-gradient(top,#ffffff,#e4e4e4,#ffffff);
		background-image: -webkit-linear-gradient(top,#fff,#e4e4e4,#ffffff);
		background-image:linear-gradient(top,#fff,#e4e4e4,#ffffff);
		background-image: -o-linear-gradient(top,#fff,#e4e4e4,#ffffff);
		background-image: -ms-linear-gradient(top,#fff,#e4e4e4,#ffffff);
		background-repeat: no-repeat;padding-bottom: 36px;
		box-shadow:1px 2px 5px #333;margin-top: 30px;
}
aside div{width: 90%;margin: 0% auto;}
aside h2{font-size: 26px;margin:20px 0px;float: left;width: 100%;/*margin-left: 10px;*/font-family:myFont;}

aside figure{float: left;width: 42.6778%;/*102/239*/}
aside figure img{width: 100%;animation:mysecond 1s;margin-left: 3px;transform:rotate(-5deg);}
/*aside figure:nth-child(2){margin-left: 10px;}
aside figure:nth-child(5){margin-left: 10px;}*/
aside figure:nth-child(3n+3) img{animation:myseconde 1s;transform:rotate(5deg);}
aside figure:nth-child(3n+3){margin-left: 8.3682%;}
aside figure a{display: block;width: 100%;height: auto;
								background-image: -moz-linear-gradient(top,#ffffff,#e4e4e4);
								background-image: -webkit-linear-gradient(top,#fff,#e4e4e4);
								background-image:linear-gr adient(top,#fff,#e4e4e4);
								background-image: -o-linear-gradient(top,#fff,#e4e4e4);
								background-image: -ms-linear-gradient(top,#fff,#e4e4e4);
								background-repeat: no-repeat;float: left;
								border-radius:51px;text-align: center;line-height: 24px;
								margin-top: 15px;
								text-decoration: none; color:#5c5959;border:1px solid #5c5959;
								}
aside figure a:hover{box-shadow:1px 1px 4px #333;
									transition: box-shadow 1s;
									-moz-transition: box-shadow 1s;	/* Firefox 4 */
									-webkit-transition: box-shadow 1s;	/* Safari 和 Chrome */
									-o-transition: box-shadow 1s;	/* Opera */
}
/*.inner .pic{float:left;margin:0px 40px;}*/
.kong{float: left;width: 1px;height: 509px;background-color: #e4e4e4;
			margin-left: 10px;margin-top: 70px;}
footer{clear:both;padding-top: 20px;}
footer p{border-top:3px double #d6d5d5;font-size: 12px;color:#757474;text-align: center;line-height: 80px;}
@media screen and (max-width:480px){
	header h1{font-size:30px;}
	header nav ul li a{font-size:10px;}
	aside{float:none;width: 100%;margin:0 auto;}
	.main{float:none;width: 100%;margin:0 auto;margin-top: 20px;}
	.main article h2{font-size:50px;}
	.kong{float:none;width:0;height: 0;margin:0;}
	.container{width: 100%;margin:0 auto;}
	.main article>a{font-size:10px;border-radius:3px;}
	.main article h3{font-size:15px;}
	.main article p{font-size:13px;}
    .main div img{width: 93%;}
    aside figure img{width: 100%;}
	footer p{font-size:5px;line-height: 15px;padding:3% 0%;}
}